{% from "_macro/ui.njk" import icon_empty with context %}
<div class="py-10 text-center text-slate-500">
    <div class="mb-3">
        {{ icon_empty() }}
    </div>
    <p class="text-lg tracking-widest">{{ escape_html(__('common.empty')) }}</p>
</div>
