<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Hexo {{ escape_attr(hexo.version) }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {% set google_fonts = google_font_urls(page, config, theme, gates.needsCode) %}
    {% include "_partial/common/head-prefetch.njk" %}
    {# FOUC theme script before blocking stylesheets (first-paint contract). #}
    {% include "_partial/common/head-theme.njk" %}
    {% include "_partial/common/head-mathjax.njk" %}
    {% include "_partial/common/head-seo.njk" %}
    {% include "_partial/common/head-styles.njk" %}
</head>
