{% from "_macro/ui.njk" import meta with context %}
<article class="content-article">
    <header class="text-center mb-4">
        <h2 class="card-title">
            <a href="{{ url_for(post.path) }}">{{ post.title }}</a>
        </h2>
        {{ meta(post) }}
    </header>
    {% if theme.excerpt.fallback.enabled %}
        {% set excerpt = excerpt_for(post, theme.excerpt.fallback.length) %}
    {% else %}
        {% set excerpt = { content: (post.excerpt or post.content), truncated: post.excerpt } %}
    {% endif %}
    <div class="prose-shiro">
        {{ excerpt.content | safe }}
    </div>
    {% if excerpt.truncated %}
    <div class="mt-6 text-center">
        <a href="{{ url_for(post.path) }}"
            class="focus-elegant btn-ink">
            {{ __('index.read_more') }}
        </a>
    </div>
    {% endif %}
</article>
