{# Deferred comment scripts (after runtime). Same shiro_comments as containers. #}
{% from "_macro/ui.njk" import feature_var with context %}
{% set state = shiro_comments if shiro_comments is defined else comments_state(page) %}
{% if state.shouldRender %}
{% include "_partial/comments/bootstrap.njk" %}
<script{{ csp_nonce_attr() }}>
    {{ feature_var('__shiroCommentsConfig', comments_client_config(page)) }}
</script>
{% if state.disqusReady %}
{% include "_partial/comments/disqus.njk" %}
{% elif state.giscusReady %}
{% include "_partial/comments/giscus.njk" %}
{% endif %}
{% endif %}
